*{box-sizing: border-box;
    margin: 0;
}
.section1{
    background-color: #eee;
    width:100%;
}
.section-reverse{
    border-top: 5px ridge;
    background-color: #eee;
    width: 100%;
}
.section-details{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:left ;
    align-items: center;
    margin: 0 auto;
    padding: 40px; 
}
.heading-text{
    display: flex;
    flex-direction: column;
    
}
#wrapper{
    display: grid;
    grid-template-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, auto) repeat(6,minmax(0px, 175px)) minmax(0px, auto);
}
.section-details img{
    justify-content: center;
    width: 50%;
}
.section-details h1{
    flex-direction: column;
    align-items:flex-start;
    padding: 30px 50px ;
    
}
.section-details p{
    padding: 30px;
}
.section-reverse{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content:left ;
    align-items: center;
    margin: 0 auto;
    padding: 40px; 
}
.section-reverse img{
    justify-content: center;
    width: 50%;
}
.section-reverse h1{
    flex-direction: column;
    align-items:flex-start;
    padding: 30px 50px ;
}
.section-reverse p{
    padding: 30px;
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,10,1) 35%, rgba(68,85,88,1) 95%);
    padding: 0 20px;
    height: 100px;
    z-index: 99;
    box-shadow: 0 2px 3px 0rgba(0,0,0,.18);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    grid-area: 1/1/2/9;
}

.header-flexbox{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,10,1) 35%, rgba(68,85,88,1) 95%);
}
header img{
    /* border: 10px solid; */
    /* background: rgb(184,172,177);
    background: radial-gradient(circle, rgba(184,172,177,1) 0%, rgba(106,108,111,1) 100%); */
    align-items: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-width: 100px;
}
#contact{
    color: white;
}
header img:hover{
    cursor: pointer;
}
nav a{
    padding: 0 30px;
    color: white;
}
nav a:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
}
#download-button{
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#download-button:hover{
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
}
main{
    grid-area: 2/1/3/9;
}
.prog-grid{
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 25% 25% ;
    display: grid;
    width: 400px;
    height: 400px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.experience-grid{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin: 0 auto;
    padding: 40px; 
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    /* column is height row is width */
}
.python-grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    
}
